.*.swp
.build

META.yml
!META.json
MYMETA.yml
MYMETA.json
blib/
Build
_build/
pm_to_blib
dist.ini
MANIFEST
AnyEvent-Filesys-Notify-*
MANIFEST.bak
exp/
tmp/
Changes.bak
t/data
nytprof*
.local-v*
local/
README

# podweaver backups
*.pm.bak

t/build1/Build
t/build1/_build/
t/inc1/META.yml
t/inc1/MYMETA.json
t/inc1/MYMETA.yml
t/inc1/Makefile
t/mm1/MYMETA.json
t/mm1/MYMETA.yml
t/mm1/Makefile
t.pl
