.*.swp
.local-v*/

META.yml
META.json
MYMETA.yml
MYMETA.json
blib/
Build
_build/
.build
pm_to_blib

MANIFEST
MANIFEST.bak
CPANPLUS-Shell-Default-Plugins-Prereqs-*
README
Changes.bak

exp/

t/build1/Build
t/build1/_build/
t/inc1/META.yml
t/inc1/MYMETA.json
t/inc1/MYMETA.yml
t/inc1/Makefile
t/mm1/MYMETA.json
t/mm1/MYMETA.yml
t/mm1/Makefile
